@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&family=Faster+One&display=swap');

html {
    background-color: none;
    height: 100%;
}

body {
    font-family: 'Exo 2', sans-serif !important;
    overflow: hidden;
    height: 100%;
}

.modal.page {
    background-color: #140016f0;
    height: 100%;
    overflow-y: scroll !important;
}

#checkoutCtrl {
    height: 100%;
}

.modal-content.long {
    background: #1b0032fc !important;
}

.bp-input {
    background: #ffffff47 !important;
    border: 1px solid #e4b0ff2e !important;
    color: #fff;
}

.header::after {
    margin: 5px 0 0 0;
    content: "Refund Insanity";
    text-shadow: 1px 1px black;
    font-size: 22px;
    position: absolute;
    padding: 7px 20px 12px 20px;
    font-family: 'Faster One', sans-serif;
    color: white;
    text-transform:uppercase;
}

/* centering for new default design */
.top-header .header__iconcentered {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100px;
    height: 50px;
    margin: 10px auto 0px;
}

.header__iconcentered__img {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(dark-logo.svg) no-repeat;
    background-size: 92.5px 40px;
    width: 92.5px;
    height: 40px;
    padding-left: 92.5px; /* Must be equal to width */
}
/* eof */

.top-header {
    background-color: #2b0b56;
}

.invoice {
    background-color: none; /* messes up bottom border radius */
}

.vex.vex-theme-btcpay .vex-content {
    color: #fff;
    background-color: #22002a;
}

.action-button {
    background: #fc6a97 !important;
    border-color: #fc6a97 !important;
}

.vex.vex-theme-btcpay .vex-content .vexmenuitem {
    border-bottom-color: #ffffff21;
}

.vex.vex-theme-btcpay .vex-content .vexmenuitem:hover {
    background-color: #350141;
}

.vex.vex-theme-btcpay .vex-content a {
    color: inherit;
}

.vexmenuitem a span {
    color: #fff;
}

.expired__body,
.success-message {
    color: #fff;
}

line-items .line-items__item {
    color: white;
}

.currency-selection {
    background-color: #2b0b56;
    border-bottom: 1px solid #ffffff21;
    color: #fff;
    height: 50px !important;
}

.payment__currencies {
    background-color: #22002a;
    padding: 8px;
}

.payment__currencies:hover {
    background-color: #350141;
}
.payment__currencies img {
    margin-right:5px;
}

line-items {
    background-color: #2b0b56;
    color: white !important;
    border-top: 1px solid #ffffff21 !important;
}

#prettydropdown-DefaultLang ul {
    display:none;
}

.powered__by__btcpayserver {
    display:none;
}
.buyerTotalLine {
    border-top: 1px solid #202224;
    background-color: #2b0b56;
    color: #fff;
}

.payment-tabs {
    background-color: #2b0b56;
    color: #fff;
    border-top: 1px solid #ffffff21;
}

.payment-tabs__tab.active {
    background-color: #2000268c;
    color: #fff;
}


canvas {
    border: 5px solid #fff;
}

#prettydropdown-DefaultLang ul {
    color: #818a91 !important;
    background-color: #191919;
}

#prettydropdown-DefaultLang ul.active li:hover {
    color: #fff !important;
    background-color: #111316;
}

.manual__step-one__header {
    color: #ffffff;
}

.manual__step-one__instructions {
    color: #ffffff;
}


.content-faded, .manual__step-one__instructions, .manual__step-two__instructions {
    color: #fff;
}


.recommended-fee {
    color: #fff;
}

@media (min-width: 576px) {
    .modal-dialog {
        margin: 30px auto !important;
    }
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar, body::-webkit-scrollbar, .modal.page::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, body, .modal.page {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
